.profile__add-button{
    max-width: 22px;
    width: 100%;
    max-height: 22px;
    height: 100%;
    border: 2px solid #FFFFFF;
    border-radius: 2px;
    padding: 14px 64px;
    align-self: center;
    transition: opacity 1s;
}

.profile__add-button:last-of-type {
    margin-left: auto;
}

.profile__add-button:hover{
    opacity: 0.6;
}

@media screen and (max-width: 650px) {
    .profile__add-button{
        max-width: 16px;
        max-height: 16px;
        padding: 17px 132px;
        margin: 36px auto 0;
    }
}