.popup__window{
    max-width: 470px;
    width: 100%;
    display: flex;
    flex-direction: column;
}

@media screen and (max-width: 650px) {
    .popup__window{
        max-width: 282px;
        max-height: 322px;
        gap: 16px;
    }
}